---
import { Picture } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { Datetime } from '../../../core/datetime/datetime'
import { Urls } from '../../../core/url/urls'
import Card from '../card/card.component.astro'
import Tag from '../tag/tag.component.astro'

interface Props {
  size: 'small' | 'medium' | 'large'
  article: CollectionEntry<'blog'>
  priority?: 'high' | 'low'
}

const { article, size, priority = 'low' } = Astro.props
const articleUrl = Urls.BLOG_POST(article.slug)
const linkLabel = `Leer el artículo ${article.data.title}`
---

<a href={articleUrl} aria-label={linkLabel}>
  <Card>
    <div class:list={['blog-card', `blog-card--${size}`]}>
      <section class="image-section">
        <Picture src={article.data.cover} alt={article.data.alt} formats={['avif', 'webp']} loading={priority === 'high' ? 'lazy' : 'eager'} widths={[360, 450]} sizes="(max-width: 450px) 360px, (max-width: 768px) 450px" />
      </section>
      <section class="content-section">
        <ul>
          {article.data.tags.map(tag => <Tag>{tag}</Tag>)}
        </ul>
        <h3 class="title">{article.data.title}</h3>
        <p class="description">{article.data.description}</p>
        <div class="footer">
          <span class="date">{Datetime.toHumanDate(article.data.date)}</span>
        </div>
      </section>
    </div>
  </Card>
</a>

<style>
  a, a:visited {
    color: inherit;
    text-decoration: none; 
  }

  .blog-card {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    height: 100%;

    & .image-section img {
      width: 100%;
      border-radius: var(--border-radius-xl);
    }

    & .content-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--size-2);
      height: 100%;

      & .title {
        margin-top: var(--size-4);
        font-size: var(--font-size-8);
      }
      & .description {
        font-size: var(--font-size-4);
        flex: 1;
      }
      & .date {
        font-size: var(--font-size-3);
      }
      & .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &.blog-card--medium .content-section,
    &.blog-card--small .content-section {
      & .title {
        margin-top: var(--size-3);
        font-size: var(--font-size-6);
      }
    }
  }

  @media (min-width: 768px) {
    .blog-card--small {
      flex-direction: row;
    }
  }
</style>
