---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/core/base-head/base-head.component.astro';
import Footer from '../components/core/footer/footer.component.astro';
import Header from '../components/core/header/header.component.astro';
import { Datetime } from '../core/datetime/datetime';

interface Props {
  article: CollectionEntry<'blog'>
} 

const {article} = Astro.props
---

<html lang="es">
  <head>
    <BaseHead title={article.data.title} description={article.data.description} />
    <style>

      .date {
        width: 100%;
        display: block;
        text-align: center;
        font-size: var(--font-size-4);
        margin: var(--size-2) auto 0;
        color: var(--gray-color-45);
        font-style: italic;
      }

      h1 {
        margin: 0 auto;
        padding-bottom: var(--size-6);
        text-wrap: pretty;
      }


      .hero-image img {
        margin: 0 auto var(--size-8);
        border-radius: var(--border-radius-xl);
      }

      .article {
        margin: 0 auto;
        max-width: 768px;

      }
    </style>
  </head>

  <body>
    <Header />
    <main class="main-content">
      <span class="date">{Datetime.toHumanDate(article.data.date)}</span>
      <h1>{article.data.title}</h1>
      <article class="article">
        <section class="hero-image">
          <Image src={article.data.cover} alt={article.data.alt} />
        </section>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
